* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.logo > img {
  width: 31.31px;
  height: 26.22px;
}
.logo > p {
  font-weight: 700;
  font-size: 20.7482px;
  /* line-height: 24px; */
  letter-spacing: -0.1em;
  color: #ffffff;
  margin-left: 5px;
}
header > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #ffffff;
  margin-right: 20px;
}
.meme {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meme--inputs {
  margin-top: 36px;
  display: flex;
}
.meme--top-text {
  font-family: "Karla", sans-serif;
  width: 230px;
  height: 35px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.meme--bot-text {
  font-family: "Karla", sans-serif;
  margin-left: 17px;
  width: 230px;
  height: 35px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.meme--btn {
  font-family: "Karla", sans-serif;
  margin-top: 15px;
  width: 477px;
  height: 40px;
  color: #ffffff;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 5px;
}
